<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OracleDBConnection" connectionString="Data Source=YOUR_ORACLE_DATA_SOURCE;User ID=YOUR_ORACLE_USER_ID;Password=YOUR_ORACLE_PASSWORD;" providerName="System.Data.OracleClient"/>
    </connectionStrings>
  <system.web>
    </system.web>
</configuration>
